.hero {
    padding: 40px 0;
    background-color: lightblue;
    @media screen and (min-width: 768px) {
        padding: 60px 0;
        background-color: lightgreen;  
      }
      @media screen and (min-width: 1200px) {
          background-color: indigo;
          padding: 80px 0;
  
      }
       
    &_title {
        margin-bottom: 30px; 
        @include font(24px, null, blue, 1.4, null );
        @media screen and (min-width: 768px) {
            @include font(34px, 500, darkred, 1.4, null ); 
            margin-bottom: 40px;
          }
          @media screen and (min-width: 1200px) {
            @include font(44px, 700, yellow, 1.5, null );   
            margin-bottom: 50px;    
          }
    }
    &_text {

        @include font(14px, null, cyan, 1.6, null );
        @media screen and (min-width: 768px) {
            @include font(18px, null, violet, 1.4, null );
          }
          @media screen and (min-width: 1200px) {
          
            @include font(20px, null, green, 1.4, null );
          }
    }
}